body {
  color: antiquewhite;
  background-color: rgb(16, 2, 70);
}
.class {
  margin: 4px;
  border: black;
  padding: 6px;
}

.results {
  display: none;
}

h2 {
  text-shadow: 5px 5px 5px black;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 25px;
  
  
}

.btn {
  color: rgb(72, 2, 82);
  text-align: center;
}